<!-- <h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>auth</h1>
    <h2>[example]/auth/google (Log In With Google) GET</h2>
    <br>
    <br>
    <br>
    <h2>[example]/auth/login (Login admin) POST</h2>
    <br>
    <br>
    <br>
    <h1>Admin documents</h1>
    <h2>[example]/api/admin/documents (Get all doc) GET</h2>
    <br>
    <br>
    <br>
    <h2>[example]/api/admin/documents (Create doc) POST</h2>
    <br>
    <br>
    <br>
    <h2>[example]/api/admin/documents/:id/assign (assign for users) POST</h2>
    <br>
    <br>
    <br>
    <h2>[example]/api/admin/documents/:id (Update doc) PATH</h2>
    <br>
    <br>
    <br>
    <h2>[example]/api/admin/documents/:id (Delete doc) DELETE</h2>
    <h1>User</h1>
    <h2>[example]/api/user/ (Get doc for user) GET</h2>
    <br>
    <br>
    <br>
    <h2>[example]/api/user/change-status (Change status for user) PATH</h2>
    <br>
    <br>
    <br>
</body>

</html>